body {
    background-color: #7b7371;
    color: #2e2a22;
  }
  .header {
    text-align: center;
    font-size: 55px;
    color: #594e47;
  }
  .navbar {
      
      background-color:#594e47 ;
      padding: 20px;
      overflow: hidden;
  }
    .navbar a {
      float: left;
      display: block;
      color: #9f9fa1;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
    .navbar a:hover {
      background-color: #9f9fa1;
      color: white;
    }
  .search-bar {
    position:absolute ;
    top: 50px;
    width: 200px;
    margin: 4px auto;

  }
  input[type="text"] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 4px;
  }
  input[type="submit"] {
    width: 35%;
    background-color: #000000;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }