body {
    background-color: #283d32;
    color: #a7af9e;
  }
  .header {
    text-align: center;
    font-size: 55px;
    color: #7ec94c;
  }
  .navbar {
    
      background-color: #525154;
      padding: 20px;
  }
    .navbar a {
      color: #a7af9e;
      text-decoration: none;
  }

  .search-bar {
    position:absolute ;
    top: 50px;
    width: 200px;
    margin: 4px auto;

  }
  input[type="text"] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 4px;
  }
  input[type="submit"] {
    width: 35%;
    background-color: #000000;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }