{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ZETA</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}?{% now "U" %}">

</head>
<body>
  <header>
    <h1 class="header">Zeta</h1>
 {% include 'searchbar.html' %}   
  {% include 'navbar.html' %} 
  </header>

<main>
   {% block content %}
    replace me
   {% endblock %} 
  </main>

  <footer>

  </footer>
    </body>
</html>